* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

form,
section {
    background-color: #71798e;
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
}

section {
    display: flex;
    flex-direction: column;
}

form {
    width: 356px;
}

button {
    background: #505f99;
    padding: 8px 15px 8px 15px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: mediumslateblue;
    color: white;
}

button:active {
    transform: translateY(2px);
}

label {
    display: block;
}

p {
    padding: 5px 0;
}

.response-section p {
    text-align: center;
}

input {
    border: 1px solid #bebebe;
    padding: 7px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.title {
    font-weight: 400;
    font-size: large;
    padding: 0 0 15px 0;
}

.green {
    background-color: #7dbd07;
    -webkit-box-shadow: 0px 0px 26px 7px #7DBD07;
    box-shadow: 0px 0px 26px 7px #7DBD07;
}

.yellow {
    background-color: #fafa6e;
    -webkit-box-shadow: 0px 0px 26px 7px #fafa6e;
    box-shadow: 0px 0px 26px 7px #fafa6e;
}

.red {
    background-color: #d23736;
    -webkit-box-shadow: 0px 0px 26px 7px #d23736;
    box-shadow: 0px 0px 26px 7px #d23736;
}

.air, .weather {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}

.air div {
    border-radius: 10px;
    border: 1px solid white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.weather div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.advice,
.display-address {
    text-align: center;
    padding: 10px 0;
}

.none {
    display: none;
}

.temperature-icon,
.humidity-icon,
.pressure-icon {
    height: 20px;
    padding-right: 5px;
}

.air .data {
    font-size: 45px;
    font-weight: 900;
}

.error {
    color: red;
    text-align: center;
}